<nav class="text-center">
  THIS IS NAV <br />
  <a href="/me" class="text-danger">Home</a>
  <a href="/login" class="text-success">Login</a> |
  <a href="/register" class="text-success">Register</a> |
  <a href="/me/logout" class="text-danger">Logout</a>
</nav>
